* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.square {
  flex: 1 1 1;
  width: 30px;
  height: 30px;
  border: 1px solid skyblue;
  text-align: center;
  /*   vertical-align:center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.square:hover {
  background-color: skyblue;
  color: white;
}

.container {
  outline: 1px solid red;
  margin: 50px auto;
  flex-wrap: wrap;
  background-color: yellow;
  /*   height:100vh; */
  width: 600px;
  display: flex;
  justify-content: start;
  align-items: start;
  /*   overflow:auto; */
  align-content: start;
  /* background: linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)),
    url(https://images.all-free-download.com/images/graphiclarge/freehand_funny_skull_54955.jpg), rgba(255, 0, 0, 0.5); */
}
